*{
    box-sizing: border-box;
    margin: 0;
    padding: 2px 0px;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

.header{
    background-image: linear-gradient(to right, gray, darkgray, black); 
    color: white;
    text-align: center;
    padding: 16px 16px;
    width: 100%;
    top: 0px;
}
.stick{
    position: fixed;
    top: 0;
    width: 100%
}

img{
    width: 400px;
    height: auto;
    border-radius: 30px;
}

